body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #000000;
}

.nav {
    background-color: rgb(0, 0, 0);
}

.nav-item {
    margin-right: 40px;
    /* Boşluğu azaltmak için sağ marj ekleyin */

}

.nav-item a:hover {
    text-decoration: underline;
    text-decoration-color: rgb(11, 143, 219) !important;
}

.nav-link {
    color: rgb(255, 255, 255) !important;
    /* Metin rengini beyaz olarak ayarlayın */
    font-family: 'Archivo Black', sans-serif;
    /* Yeni fontu belirtin */
    font-size: 20px;
    /* Metin boyutunu ayarlayın */
}

/* Aktif (current) nav linkinin rengini belirgin hale getirmek için */
.nav-link.active {
    color: rgb(11, 143, 219) !important;
    /* Aktif link rengini belirgin hale getirin */
}

form {
    background: rgb(255, 255, 255);
    width: 30%;
    height: 70%;
    margin-top: 4%;
    margin-left: 34%;
    padding: 20px;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    /* Yazı tipini ayarla */
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

div {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-family: 'Archivo Black', sans-serif;
    font-size: bolder;
}

input,
textarea,
select {
    width: 99%;
    padding: 8px;
    margin-top: 2%;
}

input[type="checkbox"] {
    width: auto;
    /* Checkboxları genişletmemek için */
    margin-right: 5px;
}

label[for^="hobby"] {
    display: inline-block;
    margin-right: 15px;
}

span {
    color: rgb(240, 16, 0);
    font-size: 0.9em;
}


.btn {
    padding: 10px 15px;
    border: none;
    background-color: #2630bb;
    color: #fff;
    cursor: pointer;
    right: 30%;
    border-radius: 30px;
    font-family: 'Archivo Black', sans-serif;
}

button:nth-child(2) {
    background-color: #4fd988;
}


.footer {
    position: absolute;
    bottom: 0;
    width: 95%;
    font-style: bold;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    /* Yazı tipini ayarla */
    background-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    letter-spacing: 3px;
    text-align: center;
    padding: 10px 0;
}
