
/* Başlık stilini ayarla */
.baslik {
    margin-top: 50px; /* Yazıyı biraz aşağı çekmek için */
    text-shadow: none; /* Gölgelendirmeyi kaldır */
    color: rgb(219, 219, 219); /* Yazı rengini ayarla */
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif; /* Yazı tipini ayarla */
    font-weight: 600; /* Yazı kalınlığını ayarla */
    font-style: normal; /* Yazı stilini ayarla */
    font-size: 120px; /* Yazı boyutunu belirle */
    text-align: center; /* Metin hizalamasını ayarla */
    text-transform: uppercase; /* Metni büyük harfe dönüştür */
    line-height: 3.0; /* Satır yüksekliğini ayarla */
    letter-spacing: -.006em; /* Harf aralığını ayarla */
}
/* Body elementinin arka plan rengini siyah yap */
body
 {
    background-image: url('resimler/arkaPalnımMevcut.jpg'); /* Arka plan resminin yolunu belirtin */
    background-size: cover; /* Resmi ekran boyutuna sığdır */
    background-repeat: no-repeat; /* Resmi tekrar etme */
    background-attachment:fixed; /* Sayfa kaydırıldığında arka planın sabit kalmasını sağlar */
    height: 100vw;
}
.header {
    position: absolute;
    top: 40%; /* Sayfanın yüksekliğinin yarısı kadar yukarıda */
    left: 10%; /* Sayfanın sol kenarından %10 kadar içerde */
    transform: translateY(-50%); /* Dikey hizalama için */
    font-family: 'Archivo Black', sans-serif; /* Yeni fontu belirtin */
    color: white; /* Metin rengini beyaz olarak ayarlayın */
    font-size: 48px; /* Metin boyutunu ayarlayın */
}
/* Dair Her Şey metnini T ile hizalanacak şekilde altına ekleyin */
.altbaslik {
    position: absolute; /* Mutlak konumlandırma */
    top: 46%; /* Sayfanın yüksekliğinin yarısı artı 50 piksel aşağıda */
    left: 10%; /* Sayfanın sol kenarından %10 kadar içerde */
    transform: translateY(-50%); /* Dikey hizalama için */
    font-family: 'Archivo Black', sans-serif; /* Yeni fontu belirtin */
    color: white; /* Metin rengini beyaz olarak ayarlayın */
    font-size: 48px; /* Metin boyutunu belirle (%'lik genişlikte boyut) */
}

.nav-item {
    margin-right: 40px; /* Boşluğu azaltmak için sağ marj ekleyin */
}

.nav-item a:hover{
    text-decoration:underline;
    text-decoration-color:  rgb(224, 58, 7);
}

.nav-link {
    color: white !important; /* Metin rengini beyaz olarak ayarlayın */
    font-family: 'Archivo Black', sans-serif; /* Yeni fontu belirtin */
    font-size: 30px; /* Metin boyutunu ayarlayın */
}

/* Aktif (current) nav linkinin rengini belirgin hale getirmek için */
.nav-link.active {
    color: rgb(224, 58, 7) !important; /* Aktif link rengini belirgin hale getirin */
}

/* Devre dışı (disabled) nav linkinin rengini belirgin hale getirmek için */
.nav-link.disabled {
    color: lightgray !important; /* Devre dışı link rengini belirgin hale getirin */
}

.noktaKesme{
    color: rgb(224, 58, 7) !important; /* Aktif link rengini belirgin hale getirin */
    font-family:'Archivo Black', sans-serif ;
    font-size: 48px; /* Metin boyutunu ayarlayın */
}

.dugme-container {
    position: absolute; /* Mutlak konumlandırma */
    top: 53%; /* Sayfanın yüksekliğinin yarısı artı 50 piksel aşağıda */
    left: 18.5%; /* Sayfanın yatay ortasında */
    transform: translate(-50%, -50%); /* Yatay ve dikey hizalama için */

}

.btn {
    border-radius: 20px; /* Kenarların yumuşaklığı */
    margin: 0 5px; /* Boşluk */
    top: 36%; /* Sayfanın yüksekliğinin yarısı artı 50 piksel aşağıda */
    left: 10%; /* Sayfanın sol kenarından %10 kadar içerde */
    padding: 10px 50px; /* Düğme içeriğinin etrafındaki boşlukları ayarla */
}

.middle-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
/* main.css */

.carousel-item img {
    border-radius: 20px; /* Resmin köşelerine yuvarlaklık uygula */
    width: 100%; /* Resmin genişliğini %100 yap */
    width: 600px;
    height: 400px;
    height: auto; /* Yüksekliği otomatik ayarla, oranları koru */
    max-width: 100%; /* Maksimum genişlik belirle */
    margin-top: 59rem;
  }
  
/* Kart boyutları */
.card {
    width: 100%; /* Kartların genişliği %100 olacak şekilde ayarlandı */
    max-width: 250px; /* Maksimum genişlik belirlendi */
    margin-top: 300px;
    margin: 0 auto; /* Kartların yatayda ortalanması için */
  }
  
  /* Kartların hover efekti */
.card:hover {
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.5); /* Kırmızı gölge */
  }
.carousel-caption{
    border-radius: 20px;
}
.carousel-control-prev, .carousel-control-next {
    top: auto; /* Yukarıdan olan konumu sıfırla */
    bottom: 20px; /* Alttan 20 piksel uzaklıkta olacak şekilde ayarla */
    transform: scale(1); /* Geçiş sırasında ölçeği sıfırla */
  }
  
  .carousel-control-prev {
    left: 5px; /* Sol kenardan 5 piksel içeriye al */
  }
  
  .carousel-control-next {
    right: 5px; /* Sağ kenardan 5 piksel içeriye al */
  }
  
  .carousel-caption {
    padding-bottom: 10px; /* Başlık alt boşluğunu ayarla */
  }
  
  
