
/* Başlık stilini ayarla */
.baslik {
    margin-top: 50px; /* Yazıyı biraz aşağı çekmek için */
    text-shadow: none; /* Gölgelendirmeyi kaldır */
    color: rgb(219, 219, 219); /* Yazı rengini ayarla */
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif; /* Yazı tipini ayarla */
    font-weight: 600; /* Yazı kalınlığını ayarla */
    font-style: normal; /* Yazı stilini ayarla */
    font-size: 120px; /* Yazı boyutunu belirle */
    text-align: center; /* Metin hizalamasını ayarla */
    text-transform: uppercase; /* Metni büyük harfe dönüştür */
    line-height: 3.0; /* Satır yüksekliğini ayarla */
    letter-spacing: -.006em; /* Harf aralığını ayarla */
}
/* Body elementinin arka plan rengini siyah yap */
body
 {
    background-image: url('resimler/arkaPalnımMevcut.jpg'); /* Arka plan resminin yolunu belirtin */
    background-size: cover; /* Resmi ekran boyutuna sığdır */
    background-repeat: no-repeat; /* Resmi tekrar etme */
    background-attachment:fixed; /* Sayfa kaydırıldığında arka planın sabit kalmasını sağlar */
}
.header {
    position: absolute;
    top: 40%; /* Sayfanın yüksekliğinin yarısı kadar yukarıda */
    left: 10%; /* Sayfanın sol kenarından %10 kadar içerde */
    transform: translateY(-50%); /* Dikey hizalama için */
    font-family: 'Archivo Black', sans-serif; /* Yeni fontu belirtin */
    color: white; /* Metin rengini beyaz olarak ayarlayın */
    font-size: 48px; /* Metin boyutunu ayarlayın */
}
/* Dair Her Şey metnini T ile hizalanacak şekilde altına ekleyin */
.altbaslik {
    position: absolute; /* Mutlak konumlandırma */
    top: 46%; /* Sayfanın yüksekliğinin yarısı artı 50 piksel aşağıda */
    left: 10%; /* Sayfanın sol kenarından %10 kadar içerde */
    transform: translateY(-50%); /* Dikey hizalama için */
    font-family: 'Archivo Black', sans-serif; /* Yeni fontu belirtin */
    color: white; /* Metin rengini beyaz olarak ayarlayın */
    font-size: 48px; /* Metin boyutunu belirle (%'lik genişlikte boyut) */
}

.nav-item {
    margin-right: 40px; /* Boşluğu azaltmak için sağ marj ekleyin */
}

.nav-item a:hover{
    text-decoration:underline;
    text-decoration-color:  rgb(224, 58, 7);
}

.nav-link {
    color: white !important; /* Metin rengini beyaz olarak ayarlayın */
    font-family: 'Archivo Black', sans-serif; /* Yeni fontu belirtin */
    font-size: 30px; /* Metin boyutunu ayarlayın */
}

/* Aktif (current) nav linkinin rengini belirgin hale getirmek için */
.nav-link.active {
    color: rgb(224, 58, 7) !important; /* Aktif link rengini belirgin hale getirin */
}

/* Devre dışı (disabled) nav linkinin rengini belirgin hale getirmek için */
.nav-link.disabled {
    color: lightgray !important; /* Devre dışı link rengini belirgin hale getirin */
}

.noktaKesme{
    color: rgb(224, 58, 7) !important; /* Aktif link rengini belirgin hale getirin */
    font-family:'Archivo Black', sans-serif ;
    font-size: 48px; /* Metin boyutunu ayarlayın */
}

.dugme-container {
    position: absolute; /* Mutlak konumlandırma */
    top: 53%; /* Sayfanın yüksekliğinin yarısı artı 50 piksel aşağıda */
    left: 18.5%; /* Sayfanın yatay ortasında */
    transform: translate(-50%, -50%); /* Yatay ve dikey hizalama için */

}

.btn {
    border-radius: 20px; /* Kenarların yumuşaklığı */
    margin: 0 5px; /* Boşluk */
    top: 36%; /* Sayfanın yüksekliğinin yarısı artı 50 piksel aşağıda */
    left: 10%; /* Sayfanın sol kenarından %10 kadar içerde */
    padding: 10px 50px; /* Düğme içeriğinin etrafındaki boşlukları ayarla */
    z-index: 1; /* Diğer elementlerin üzerine çıkacak */
    
}

.middle-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
  
.carousel {
    width: 900px; /* Carousel'ın maksimum genişliği */
    height: 635px;
    margin-top: 5%;
    margin-left: 44%;
}

.carousel-item {
    position: relative;
}

.carousel-item .btn-outline-primary,
.carousel-item .btn-outline-success,
.carousel-item .btn-outline-warning {
    width:20%;
    height: 5%;
    font-size: 20px;
    font-family:"SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif; /* Yazı tipini ayarla */ ;
    position: absolute;
    top: 64%;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 30px;
    color: white;
}

.carousel-inner{
    height: 635px;
    width: 900px;
    border-radius: 23px; /* Slider'ın köşelerini yumuşat */
}

/* Slider'ı hizalama */
.carousel-container {
    border-radius: 20px solid;
    display: flex;
    left:10%;
}

.slider-text {
    position: absolute; /* Mutlak konumlandırma */
    top: 15%; /* Sliderın altından 20 piksel yukarıda */
    left:10%;
    color: white; /* Metin rengini beyaz yap */
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif; /* Yazı tipini ayarla */
    font-size: 20px; /* Metin boyutunu ayarla */
    max-width: 80%; /* Metnin maksimum genişliğini ayarla */
}



.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    font-style: bold;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif; /* Yazı tipini ayarla */
    color: white;
    letter-spacing: 3px; 
    text-align: center;
    padding: 10px 0;
}
